h1 {
    text-align: center;
    color: #0000A0;
    font-family: 'Shrikhand', cursive;
}

p {
    font-family: 'Raleway', sans-serif;
}

body {
    background-image: url(images/fireworks.jpg);
    background: linear-gradient(
    /*top*/
    rgba(255,255,255,0.5)
    /*bottom*/
    rgba(255,255,255,0.5)
    )
}